{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'basebackoffice.html.twig' : 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}
	<!-- Début du Service -->
	<div class="container-xxl service py-5" style="min-height: calc(100vh - 200px);">
		<div
			class="container mt-12">
			<!-- Added margin top -->
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h1 class="mb-5">Liste des Services</h1>
			</div>
			<div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
				<div class="col-lg-4">
					<div class="nav w-100 nav-pills me-4 flex-column">
						{% for service in services %}
							<button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 {% if loop.first %}active{% endif %}" data-bs-toggle="pill" data-bs-target="#tab-pane-{{ loop.index }}" type="button">
								<i class="fa fa-car-side fa-2x me-3"></i>
								<h4 class="m-0">{{ service.nom }}</h4>
							</button>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-8">
					<div class="tab-content w-100">
						{% for service in services %}
							<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="tab-pane-{{ loop.index }}">
								<div class="row g-4">
									<div class="col-md-12">
										<div class="d-flex flex-column justify-content-center h-100">
											<p class="mb-4" style="font-size: 18px;">{{ service.description }}</p>
											<div>
												<p>
													<i class="fa fa-check text-success me-3"></i>
													Service fiable</p>
												<p>
													<i class="fa fa-check text-success me-3"></i>Professionnels qualifiés</p>
												<p>
													<i class="fa fa-check text-success me-3"></i>Technologies de pointe</p>
											</div>
											{% if is_granted('ROLE_ADMIN') %}
												<div class="d-flex gap-3">
													<a href="{{ path('app_service_edit', {'id': service.id}) }}" style="font-size: 24px;">
														<i class="fa fa-pencil-alt"></i>
													</a>
													<a href="{{ path('app_service_delete', {'id': service.id}) }}" style="font-size: 24px;">
														<i class="fa fa-trash"></i>
													</a>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div
			class="mt-5">
			<!-- Add margin-top here -->
			{% include 'staticservicelist.html.twig' %}
		</div>
	</div>


{% endblock %}
